
/*Reset*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Flexbox*/
.container {
    width: 85%;
    margin: 0 auto;
}

.headerPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerPrincipal-nav {
    display: flex;
}

.seccionPrincipal-sobremi .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sobreMiInfo{
    background-color: #EAF2FD;
}
.sobreMi-1 {
    display: flex;
    flex-direction: column;
}

.sobreMiInfo .container {
    display: flex;
    flex-direction: column;
}
.redesSociales{
    display: flex;
}
.redesSociales-link{
    padding-right: 60px;
    text-decoration: none;
    color: #464646;
    font-family: 'Raleway', sans-serif;
}
.seccion-skills .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccion-hobbies .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillsHobbies-list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 88px;
}
.tamaño-Icons{
    height: 50px;
}

.seccion-academica .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.academiaLogos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.academicainfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.proyecto1 {
    margin-top: 25px;
    display: flex;
    align-items: center;
}

.proyecto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 64px;
}

.proyectoEncriptador {
    width: 60%;
}

.detallesProyecto {
    display: flex;
    flex-direction: column;
}

.seccion-Contactos .container {
    display: flex;
}

.rodapePrincipal .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 10px;

}
.logos{
    display: flex;
    flex-direction: column;
}
.infos{
    background-color: #EAF2FD;
    margin: 5px;
}
/*Secciones de la pagina*/
body {
    background-color: #F5F5F5;
}

.headerPrincipal .container {
    padding-top: 34px;
    padding-bottom: 66px;
}

.headerPrincipal-Titulo {
    padding-left: 15px;
}
.logo{
    height: 150px;
}

.headerPrincipal-nav-link {
    padding: 10px;
    text-decoration: none;
    color: #464646;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}
.sobremiTitulo {
    font-size: 52px;
    margin-bottom: 24px;
    color: #464646;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

.sobremiInfo {
    font-size: 22px;
    margin-bottom: 26px;
    font-weight: 400;
    line-height: 26px;
    color: #464646;
    font-family: 'Raleway', sans-serif;
}
.fotoPerfil {
    width: 100%;
    height: auto;
    border-radius: 50%;
    padding-bottom: 32px;
}

.gitlink {
    color: #464646;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}
.sobreMiInfo .container {
    padding-top: 64px;
}

.sobreMiInfo-titulo-mi {
    padding-bottom: 16px;
    font-size: 32px;
    color: #464646;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.sobreMiInfo-text {
    padding-right: 537px;
}

.sobreMiInfo-text-1 {
    padding-bottom: 16px;
    color: #464646;
    font-family: 'Raleway', sans-serif;
}

.sobreMiInfo-text-firma {
    padding-bottom: 64px;
}

.titulo-skills {
    padding-bottom: 32px;
    font-size: 26px;
    color: #464646;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.titulo-hobbies{
    padding-bottom: 32px;
    font-size: 26px;
    color: #464646;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.skills-list-items {
    padding: 94px 136px 8px 16px;
}

.seccion-academica {
    background-color: #EAF2FD;
}

.academicaTitulo h2 {
    font-size: 32px;
    padding-top: 82px;
    padding-bottom: 32px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #464646;
    font-weight: 700;
}

.claseLogos1 {
    height: 70px;
}
.contenedor-logos{
    background-color: #fff;
    height: 150px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.logos {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.logo {
    width: 50%;
    padding: 40px;
}

.academiaInfos {
    margin-top: 8px;
    width:329px;
    padding-bottom:82px;
}

.academiaInfoTitulo {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 8px;
    font-weight: 700;
}

.detallesProyecto {
    margin-left: 16px;
}

.detalles-item1 {
    font-size: 22px;
    padding-bottom: 6px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #464646;
}

.detalles-item {
    font-size: 19px;
    padding-bottom: 25px;
    font-family: 'Raleway', sans-serif;
    color: #464646;
}

.botonesProyectos1 {
    border: 2px #2A7AE4 solid;
    padding: 16px;
    color: #2A7AE4;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    margin-right: 15px;
}

.botonesProyectos2 {
    border: 2px #2A7AE4 solid;
    padding: 16px;
    background-color: #2A7AE4;
    color: #fff;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

.seccion-Contactos {
    background-color: #EAF2FD;
}

.seccion-Contactos .container {
    padding-top: 130px;
}

.detallesContacto-Titulos {
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
    color: #464646;
    padding-bottom: 8px;
    font-weight: 700;
}

.detalles-contactos {
    margin-left: 16px;
    width: 100%;
}

.detalles-contacto {
    color: #464646;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 18px;
}

.elemento {
    padding-top: 32px;
}

label {
    display: block;
    color: #A2A2A2;
    background-color: #fff;
    padding-left: 12px;
    padding-top: 8PX;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

form input,
form textarea {

    font-family: 'Raleway', sans-serif;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    color: #525c66;
    font-size: 1em;
    resize: none;
}


.btn-enviarMensaje {
    font-family: 'Raleway', sans-serif;
    padding: 16px;
    background-color: #2A7AE4;
    color: #fff;
    font-size: 16px;
    border: none;
    margin-bottom: 80px;
}
.itemfooter-list{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-align: center;
}
/* Responsive */
@media(max-width: 768px){
    .headerPrincipal-nav{
        display: none !important;
    }
    .headerPrincipal .container{
        flex-direction: column;
		align-items: initial;
		text-align: center;
    }
    .sobreMi-1{
        width: 65%;
    }
    .sobremiInfo{
        font-size: 16px;
    }
    .sobreMiInfo-titulo-mi{
        font-size: 22px;
    }
    .sobremiTitulo{
        font-size: 22px;
    }
    .sobreMiInfo-text{
        width: 100%;
    }
    .skills-list-items{
        padding: 94px 136px 8px 16px;
    }
    .titulo-skills{
        font-size: 22px;
    }
    .titulo-hobbies{
        font-size: 22px;
    }
    .academicaTitulo h2{
        font-size: 22px;
    }
    
    .academiaInfoTitulo{
        font-size: 16px;
    }
    .academiaInfos {
        width: 32%
    }
    .academicainfo{
        flex-wrap: nowrap;
    }
    .proyecto1{
        flex-direction: column;
        align-items: flex-start;
    }
    .proyectoEncriptador{
        width: 100%;
        order: -1;
    }
    .detallesProyecto{
        margin-left: 0;
        margin-top: 16px;
    }
    .proyecto{
        flex-direction: column;
        align-items: flex-start;
    }
    .imgcontacto{
        display: none !important;
    }
    .detallesContacto-Titulos{
        font-size: 22px;
    }
    .detalles-contacto{
        font-size: 16px;
    }

}
@media only screen and (max-width: 600px){
    .headerPrincipal-nav{
        display: none !important;
    }
    .seccionPrincipal-sobremi .container{
        flex-direction: column;
    }
    .redesSociales-link{
        padding-right: 15px;
        padding-bottom: 15px;
    }
    .redesSociales__list{
        padding-bottom: 15px;
    }
    .redesSociales{
        font-size: 14px;
        display: flex;
        flex-direction: column;
    }
    .skillsHobbies-list{
        width: 100%;
    }
    .skills-list-items{
        width: 50%;
        padding: 0px !important;
        margin-top: 20px;
    }
    .sobreMiInfo-titulo-mi{
        font-size: 22px;
    }
    .sobreMi-1{
        width: 100%;
    }
    .sobreMi-2{
        order: -1;
        width: 50%;
    }
    .titulo-skills{
        font-size: 22px;
    }
    .academiaLogos{
        flex-direction: column;
    }
    .logos{
        width: 100%;
    }
    .academiaLogos{
        font-size: 22px;
        font-weight: 700;
        flex-direction: column;
    }
    
    .infos{
        margin-bottom: 16px;
    }
    .academiaInfoParrafo{
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
    }
    .botonesProyectos{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .botonesProyectos1{
        margin-right: 0;
        margin-bottom: 15px;
    }
    .detallesProyecto{
        width: 100%;
    }
    .detalles-contactos{
        margin: 0;
    }
    .rodapePrincipal .container{
        padding: 0 !important;

    }
}